# Игнорировать временные файлы и папки сборки
Binaries/
Intermediate/
DerivedDataCache/
Saved/

# Игнорировать файлы IDE и системы
.vs/
.vscode/
*.user
*.suo
*.sln
*.VC.db

# Игнорировать файлы логов и бэкапов
*.log
*.tmp
*~

# Игнорировать содержимое Build, но не сам файл .uplugin
Build/

# (Опционально) Не игнорировать файл самого плагина
!*.uplugin